.card{
    margin: auto;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 10px;
}

#cardProducto{
    margin: auto;
    margin-top: 40px;
}

#card-bodyProducto{
    margin: auto;
}

.card-body{
    margin: auto;
    width: 15rem;
}

.Producto{
    background-color: rgb(230, 240, 248);
    padding-bottom: 900px;
}